 <!-- views/pages/index.ejs -->

 <!DOCTYPE html>
 <html lang="en">
 <head>
  <% include ./partials/head %> <!-- importing head content -->
 </head>
 <body class="container">

  <header>
    <% include ./partials/nav %> <!--importing partial nav section--> 
  </header>

  <main>
    <div class="jumbotron text-center">
      <h1>This Is Mambopoa</h1>
      <p>Welcome to Students Hub.</p>
    </div>
  </main>

 </body>
 </html>